name: Main

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-plugin:
    name: "Build Plugin"
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    steps:
      - uses: actions/checkout@v4
      - name: Build Plugin
        uses: redstrate/build-dalamud-plugin@main
        with:
          solution-dir: dalamud

  build-webassembly:
    name: "Build"
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    steps:
    - uses: actions/checkout@v4
    - name: Add WebAssembly Target
      run: |
        rustup target add wasm32-unknown-unknown
    - uses: actions/cache@v4
      id: cache-deps
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Install wasm-pack
      if: steps.cache-deps.outputs.cache-hit != 'true'
      run: |
        cargo install wasm-pack
    - name: Build
      run: |
        ./scripts/build-web.sh
